/* src/styles.css */

/* Your CSS styles go here */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.calendar-container {
  max-width: 80%;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.calendar-controls {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
  }
  
  .calendar-controls button {
    color: inherit;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .calendar-controls button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .calendar-controls input {
    margin-left: 10px;
    padding: 5px;
    width: 50px;
    text-align: center;
    color: #333; /* Add this line to set the text color */
  }
  

.calendar-table {
  width: 100%;
  border-collapse: collapse;
}

.calendar-header,
.calendar-cell {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ddd;
}

.calendar-header {
  background-color: #007bff;
  color: #fff;
}

.calendar-cell.today {
  background-color: #e6f7ff;
  color: #007bff;
}

.date {
  font-size: 18px;
}

.holidays {
  margin-top: 5px;
  font-size: 12px;
  color: #bd2130;
}

.upcoming-holidays {
  padding: 20px;
}

.upcoming-holidays h2 {
  color: #007bff;
}

.upcoming-holidays ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.upcoming-holidays li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  color: #721c24;
}

.upcoming-holidays li:hover {
  background-color: #f3a6b1;
  border-color: #f0939b;
}
/* src/styles.css */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .light .app-container {
    background-color: #f5f5f5;
  }
  
  .dark .app-container {
    background-color: #333;
    color: #fff;
  }
  
  .light .calendar-container {
    background-color: #fff;
  }
  
  .dark .calendar-container {
    background-color: #333;
    color: #fff;
  }
  
  /* Add styles for the toggle button */
  .theme-toggle {
    margin-bottom: 1rem;
  }
  
  .theme-toggle button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
  
  .theme-toggle button:hover {
    background-color: #357ae8;
  }
  